@model RazaPerros.Models.ViewModels.InfoPerroViewModel
@{
    Layout = "_Layout";
    var raza = Model.Raza;
}

<h2 id="nombre">@raza.Nombre</h2>

<section class="descripcion" id="descripcion">
    @raza.Descripcion
</section>

<section class="galeria">
    <img id="fotoPerro" src="~/imgs_perros/@(raza.Id)_0.jpg" />
</section>

<section class="datos">
    <h3>Datos</h3>
    <label>Otros nombres: </label>
    <span id="otrosNombre">@raza.OtrosNombres</span>
    <br />
    <label>País de Origen: </label>
    <span id="pais">@raza.IdPaisNavigation.Nombre</span>
    <br />
    <label>Peso: </label>
    <span id="peso">@(raza.PesoMin)kg. - @(raza.PesoMax)kg.</span>
    <br />
    <label>Altura: </label>
    <span id="altura">@(raza.AlturaMin)cm. - @(raza.AlturaMax)cm.</span>
    <br />
    <label>Esperanza de Vida: </label>
    <span id="vida">@raza.EsperanzaVida años</span>
    <br />
</section>
<section class="estadisticas">
    <h3>Estadísticas</h3>
    <label>Nivel de Energía:</label><img src="~/imgs/nivel@(raza.Estadisticasraza.NivelEnergia).png" /><br />
    <label>Facilidad de Entrenamiento:</label><img src="~/imgs/nivel@(raza.Estadisticasraza.FacilidadEntrenamiento).png" /><br />
    <label>Ejercicio Obligatorio:</label><img src="~/imgs/nivel@(raza.Estadisticasraza.EjercicioObligatorio).png" /><br />
    <label>Amistad con Desconocidos:</label><img src="~/imgs/nivel@(raza.Estadisticasraza.AmistadDesconocidos).png" /><br />
    <label>Amistad con Perros:</label><img src="~/imgs/nivel@(raza.Estadisticasraza.AmistadPerros).png" /><br />
    <label>Necesidad de Cepillado:</label><img src="~/imgs/nivel@(raza.Estadisticasraza.NecesidadCepillado).png" />
</section>
<section class="fisicas">
    <h3>Caracteristicas Físicas</h3>
    <label>Patas: </label>
    <span id="patas">@raza.Caracteristicasfisicas.Patas</span>
    <br />
    <label>Cola: </label>
    <span id="cola">@raza.Caracteristicasfisicas.Cola</span>
    <br />
    <label>Hocico: </label>
    <span id="hocico">@raza.Caracteristicasfisicas.Hocico</span>
    <br />
    <label>Pelo: </label>
    <span id="pelo">@raza.Caracteristicasfisicas.Pelo</span>
    <br />
    <label>Color: </label>
    <span id="color">@raza.Caracteristicasfisicas.Color</span>
</section>
<br class="clear" />

<a href="javascript:history.back();" class="button">Regresar</a>

<section class="otrosPerros">

    @foreach (var item in Model.OtrasRazas)
    {
        <a href="~/Raza/@item.Nombre.Replace(" ", "-")">
            <img src='~/imgs_perros/@(item.Id)_0.jpg' />
            <h2>@item.Nombre</h2>
        </a>
    }
</section>

